<nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-bottom p-0">
    <div class="container-fluid d-flex justify-content-center">
        <a class="nav-link btn text-light" href="{{ path('accueil') }}">Accueil</a>
        <a class="nav-link btn text-light" href="#">Profil</a>
        <a class="nav-link btn text-light" href="#">Recherche</a>
    </div>
</nav>