$light: #fffbfb;
$primary: #262626;
$secondary: #3E53BB;
$tertiary: #C4C4C4;
$dark : #0D0400;

$text-font: 'Karla', sans-serif;
$title-font: 'Karla', sans-serif;
$text-size: 16px;
$title-size: 24px;

$post-card-border-radius: 10px 10px 10px 10px;
$post-image-border-radius: 10px 10px 5px 5px;