<form method="post" action="{{ path('post_delete', {'id': post.id}) }}" onsubmit="return confirm('Supprimer ce post ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
    <button class="btn">Suppimer</button>
</form>
