{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <div class="pt-3 container">
        <div class="pt-5 pb-5 row row-cols-1 row-cols-md-3 g-4">
            {% for post in posts %}
                <div class="col">
                    <div class="data-card shadow bg-secondary rounded-5 p-0 m-0 post">
                        <img src="{{ asset('build/images/skatelandicon.jpg') }}" class="card-img-top post-image" alt="...">
                        <div class="d-flex justify-content-between card-body">
                            <div>
                                <h5 class="card-title"><a href="" style="text-decoration:none">{{ post.user.name }}</a></h5>
                                <p class="pt-2 card-text">{{ post.description }}</p>
                            </div>
                        </div>
                        <a href="#" class="d-flex justify-content-center btn mw-80 mt-3 mb-3 mx-3 post-button">Commenter</a>
                    </div>
                </div>
            {% else %}
                <p>Pas de rider en vue !</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
