{% extends 'layout.html.twig' %}

{% block title %}{{ user.name }}{% endblock %}

{% block body %}
<div class="pt-3 container">

    <div class="example-wrapper">
        <h1>{{ user.name }} !</h1>
    </div>


    <div class="d-flex justify-content-center pb-3">
        <a class="w-50 btn mt-1 mb-3 mx-3 post-button" href="{{ path('post_index') }}">Retour</a>
    </div>
</div>
{% endblock %}